body {
    font-family: 'Noto Sans', sans-serif;
}

#main-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#main-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

#main-navigation a:hover {
    border-bottom: 1px solid black;
}

#main-navigation .selected {
    border-bottom: 1px solid black;
}

#header {
    text-align: center;
}

#content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-container {
    text-align: center;
}

#image {
    width: 600px;
}

#button {
    width: 300px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #f9b3d3;
}

#button:hover {
    cursor: pointer;
}
