#main-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#main-navigation a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    color: black;
}

#main-navigation a:hover {
    border-bottom: 1px solid black;
}

#main-navigation .selected {
    border-bottom: 1px solid black;
}

#header {
    text-align: center;
}
