#main-content .table {
    margin-bottom: 40px;
}
.source-value, .display-value {
    margin-bottom: 8px;
}

.data-type-container {
    display: flex;
    flex-direction: column;
}

.data-type {
    width: 100%;
}

button.add-option {
    margin-top: 10%;
}

.btn.btn-primary {
    width: 50%;
}

.primary-button {
    margin: 10px;
    display: flex;
    justify-content: center;
}

#row-template{
    display: none;
}

.display-value-container--remove.btn.btn-outline-danger {
    margin-left: 6px;
    padding: 3px;
}

.hidden {
    visibility: hidden;
}

.removed {
    display: none !important;
}

.invalid {
    border: 2px solid rgb(156, 46, 46);
}