body {
    background-color: #f4f7f9;
    font-family: "ProximaNova", "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

#main-content{
    margin: 64px 32px 32px 32px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 5px 8px 0 rgb(0 0 0 / 14%), 0 1px 14px 0 rgb(0 0 0 / 12%);
    background-color: white;
    
}

#main-content .table-container {
    padding: 20px 20px 15px;
}

#main-content .table {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-collapse:collapse
}

#main-content .table thead{
    border-bottom: 5px solid white;
}

#main-content .table td:not(.remove-button){
    width: 19%;
    border-right: 5px solid transparent;
    padding: 10px 0;
    vertical-align: top;
}

#main-content .table input{
    border-radius: 5px;
    padding: 10px 5px;
    border: 1px solid transparent;
}

#page-title {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 3%), 0 5px 8px 0 rgb(0 0 0 / 3%), 0 1px 14px 0 rgb(0 0 0 / 3%);
    font-size: 20px;
}

#page-title h1{
    font-size: 20px;
}

#main-content .source-value, .display-value {
    margin-bottom: 8px;
}

#main-content .data-type-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-content .data-type-container select {
    height: 36px;
    border: none;
    width: 70%;
}

#main-content .add-option {
    margin-top: 10px;
    color: #1f5cf6;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
}

#main-content .buttons-container {
    padding: 10px;
    box-shadow: 0 6px 6px -3px rgb(0 0 0 / 20%), 0 10px 14px 1px rgb(0 0 0 / 14%), 0 4px 18px 3px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#error-message {
    color: #dc3545;
}

/* .btn.btn-primary {
    width: 50%;
} */

#main-content .primary-button {
    margin: 0 1em;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    padding: 9px 16px;
    font-weight: bold;
    transition: 0.2s;
}

#main-content .primary-button:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.87);
    background-color: rgb(31,92,246);
}

#main-content .primary-button.disabled {
    opacity: 0.6;
}

#main-content .primary-button.disabled:hover {
    cursor: default;
    color: #000;
    background-color: #fff;
}

#main-content .crm-row{
    height: 70px;
    background: #f4f7f9;
    border-bottom: 5px solid white;
}

#main-content .crm-row.hidden{
    display: none !important;
}

#main-content .display-value-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#main-content .display-value-container--remove svg {
    height: 16px;
    width: 16px;
    opacity: 0.4;
}

#main-content .display-value-container--remove:hover {
    cursor: pointer;
}

#main-content .display-value-container--remove:hover svg {
    opacity: 0.6;
}

.hidden {
    visibility: hidden;
}

.removed {
    display: none !important;
}

.invalid {
    border: 2px solid #dc3545 !important;
}

#main-content .button.remove-row path {
    opacity: 0.4;
}

#main-content .button.remove-row:hover path {
    opacity: 0.6;
    transition: 0.2s;
}

#main-content .button.remove-row:hover {
    cursor: pointer;
}
